.navbar {
  background-color: #007bff !important;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 1.1rem;
  margin-right: 15px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffdd57 !important;
}

.navbar:hover {
  background-color: #007bff !important;
}